# 파이썬 자료형

## [리스트]

#### <리스트 인덱싱>

In [2]:
a = [1,2, ['a','b', ['Life','is']]]
a[2][2][0]

'Life'

#### <리스트 슬라이싱>

In [2]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]
a[3][:2]

['a', 'b']

#### <리스트 연산하기>

In [3]:
a = [1,2,3]
str(a[2]) + 'hi'

'3hi'

#### <리스트 관련 함수>

1. a.append()

In [5]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

2. a.sort()

In [7]:
a = [1,4,3,5]
a.sort()
a

[1, 3, 4, 5]

3. a.revervse()

In [10]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

4. a.insert(,) / a.remove()

In [18]:
a = [1, 2, 3]
a.insert(0, 4)
print(a)
a.insert(3,5)
print(a)

a.remove(3)
print(a)

[4, 1, 2, 3]
[4, 1, 2, 5, 3]
[4, 1, 2, 5]

5. a.pop()

In [20]:
a = [1,2,3]
a.pop(1)
print(a)

[1, 3]

6. a.count() / a.extend()

In [24]:
a = [1,2,3,1]
print(a.count(1))

a = [1,2,3]
a.extend([4,5])
print(a)

2
[1, 2, 3, 4, 5]

## (튜플)

1. 요소값 생성, 삭제, 수정 불가
2. 괄호 () 생략 가능

In [28]:
t1 = (1, 2, 'a', 'b')
t1[1]

2

## {딕셔너리}

In [34]:
dic = {'name':'pay', 'phone':'0119993323', 'birth':'1118'}
print(dic)

a = {'a':[1,2,3]}
print(a)
print(a['a'])

{'name': 'pay', 'phone': '0119993323', 'birth': '1118'}
{'a': [1, 2, 3]}
[1, 2, 3]

#### <딕셔너리 요소 추가/삭제>

In [37]:
a = {1: 'a'}
a[2] = 'b'
a[3] = ['a','b','c']
print(a)

del a[1]
print(a)

{1: 'a', 2: 'b', 3: ['a', 'b', 'c']}
{2: 'b', 3: ['a', 'b', 'c']}

#### <key 리스트 / value 리스트 얻기>

In [40]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(a.keys())
print(a.values())

# 둘다 list로 변환 가능
print(list(a.keys()))
print(list(a.values()))

# key 객체로 for도 가능
for i in a.keys():
    print(i)

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0119993323', '1118'])
['name', 'phone', 'birth']
['pey', '0119993323', '1118']
name
phone
birth

#### <key, value 쌍 얻기 / 지우기>

In [43]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(a.items())
print(list(a.items())) # 리스트로 변환도 가능

a.clear()
print(a)

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])
[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]
{}

#### <get - key로 value 얻기>
원래 접근하는 구조(a['key'])와 달리 검색 key의 value가 없다면 None 출력

In [47]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(a.get('name'))

print(a.get('address')) # None 출력
print(a['address']) # 에러

pey
None

KeyError: 'address'

#### <해당 key가 딕셔너리 안에 있나 조사>

In [51]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
'name' in a # True
'address' in a # False

False

## 집합 - set
1. 중복이 허용 X
2. 순서가 없다

In [56]:
s1 = set([1,2,3,3,4,5,5,5])
print(s1)
print(list(s1))

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

#### <교집합, 합집합, 차집합>

In [57]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2) # s1.intersection(s2)
print(s1 | s2) # s1.union(s2)
print(s1 - s2) # s1.difference(s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

#### <값 추가 / 제거>

In [65]:
s1 = set([1, 2, 3, 4, 5, 6])
s1.add(7) # 한개 추가
print(s1) 

s1.update([8,9,10]) # 여러개 추가
print(s1)

s1.remove(3) # 특정값 제거
print(s1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 4, 5, 6, 7, 8, 9, 10}